
/* BUTTONS */
/* Padded container with background */
body{
    width: 321px;
    text-align: justify;
}
.start-btn {
    /* Add specific styles for the "Start Playing" button here */
    color: white; /* Change the text color */
    font-weight: bold; /* Add more styles as desired */
    background: none;
    border: none;
  }
  
  .btn-container {
    display: flex;
    justify-content: flex-start;
    background-color: #604CE1;
    padding: 10px;
    border-radius: 15px 15px 0 0; /* Updated border-radius property */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    transform: translateX(19px); 
  }
  
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 29px;
  }
  
  .btn-wrapper:last-child {
    margin-right: 0;
  }
  
  
  .btn-name {
    font-size: 12px;
    color: white;
  }
  
  
  .btn img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
  }
  
  .btn-wrapper .btn {
    margin-bottom: 10px;
  }
  
   /* Move the button 5 pixels up */
  .btn-wrapper .btn:hover {
    transform: translateY(-5px);
  }
  
  /* Move the button 10 pixels up when clicked */
  .btn-wrapper .btn:active {
    transform: translateY(-10px); 
  }
  .red-button {
    background-color: red;
    color: white;
    padding: 4px 4px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 210px;
}
.blue-button {
  background-color: blue;
  color: white;
  padding: 4px 4px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 210px;
}