body, html {
  height: 100%;
}

/* Center the quiz container using flexbox */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-image: url("../img/bgblue.png");
}

/* Style the title */
.type-code {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 710px; /* Adjust the top value to change the vertical position of the title */
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 0, 0);
}

#quiz-container {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#progress-bar-container {
  width: 200px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 20px auto; /* Center the progress bar horizontally */
}

#progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
  width: 0; /* Start with 0% width */
}

#question {
  font-size: 24px;
  margin-bottom: 20px;
}

#input-box {
  display: block;
  width: 89%;
  padding: 15px;
  font-size: 18px;
  margin: 0 auto; /* Center the input box horizontally */
  margin-bottom: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

#submit-btn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -80px;
  position: absolute;
}
#proceed-btn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#proceed-btn.hidden {
  display: none;
}

#feedback {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  display: none;
}
#home-btn{
  font-size: 18px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 618px;
  top: 817px;
}
